<div class="app-wrapper">
  <header id="topOfPage">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
            <h3 class="mar-t-2">Delivery Online</h3>
          </a>
        </div>
        <router-outlet name="menu"></router-outlet>
      </div>
    </nav>
  </header>
  <main>
    <app-spinner></app-spinner>
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="page-footer">
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="#"> deliveryonline.com </a>
  </div>
</footer>
